@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
p{
  color: black;
  font-family: 'Cherry Swash';
} 
.os{
  color: white;

}
body {
  font-family: "Balsamiq Sans", cursive;
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h2 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Cherry Swash';
  font-weight: 300;
  font-size: 40px;
  color: black;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.logo {
  color: #fff;
  max-height: 2px;
}
.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(7, 7, 7, 0.582);
}
.story{
  background-image: url("../images/gallery/women.jpeg");
  background-attachment: fixed;
  background-size: cover; 
  
  text-align: center;
  width: 100%;
  height:auto;
}

.story p{
  color: whitesmoke;
}
.story h2{
  color: whitesmoke;
  font-family: 'Raleway';

  text-align: center;
}

.story .inner-lay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 95px;
  color: #FFF; }

@media screen and (max-width: 940px) {
  .story .inner-lay {
    padding: 30px 10px; } }
.story .inner-lay .numb {
  text-align: center;
  padding: 30px; }

.story .inner-lay .numb h3 {
  font-size: 42px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  color: #FFF; 
}

/*our team*/
.bot {
  border-radius: 150px;
  background:#fff;
  position:relative;
  overflow: hidden;
  text-align:center;
}
.bot:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    border-radius: 150px;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.30);
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #3c70a4 0%, #64b2cd 100%);
}
.bot:hover:before {
    width: 100%;
}
.bot:hover .image-wrapper {
  padding:0;
}
.bot:hover .box-desc {
  color:#fff;
}
.bot:hover .sosho li a {
  background:#fff;
  background-image: none;
  color:#000;
}
.bot:hover .sosho li a:hover {
  background:#1d1d1d;
  color:#fff;
}
.image-wrapper {
    position: relative;
  max-width: 210px;
    max-height: 210px;
  margin:0 auto;
    overflow: hidden;
    border-radius: 50%;
    padding: 0px;
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.20);
}
.image-wrapper img {
    border-radius: 50%;
    transition: all 500ms ease;
}
.bot-desc {
  position:relative;
}
ul.sosho {
  padding:0;
}
ul.sosho li {
  display:inline-block;
  list-style-type:none;
}
ul.sosho li a {
  position:relative;
  width: 110px;
    height: 36px;
  background-image: linear-gradient(to right, #3c70a4 0%, #64b2cd 100%);
  display:inline-block;
  line-height:36px;
  border-radius:50%;
  color:#fff;
  transition: all .5s ease;
}

/*end team*/

/* Style 7
   ----------------------------- */
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

h2::after,
h2::before {
  content: " ";
  display: block;
  box-shadow: 0 -0.5px 0 red, 0 0.5px 0 black;
  height: 1px;
}
.divider {
  display: flex;
}
.divider:before, .divider:after {
  content: "";
  flex: 1;
}
.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before, .line:after {
  height: 1px;
  margin: 0 1em;
}
.double-razor:before, .double-razor:after {
  height: 3px;
  box-shadow: 0 -0.5px 0 black, 0 0.5px 0 black;
  border-width: 0;
}




.hera{
   padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #000;
  height: 300px;
  background-image: url("../images/maasai1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;

}
.hero {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #000;
  height: 600px;
  background-image: url("../images/maasai1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

header.hero .hero-heading {
  font-size: 3.25rem;
  font-weight: bold;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  color: #fff;
}
/*Major Causes Section*/
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;

}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
}
/*End of Major Causes Section */
/*Project Section */
#project .project-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#project .project-item .project-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#project .project-item .project-link .project-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(254, 209, 54, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#project .project-item .project-link .project-hover .project-hover-content {
  font-size: 1.25rem;
  color: white;
}
#project .project-item .project-link:hover .project-hover {
  opacity: 1;
}
#project .project-item .project-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#project .project-item .project-caption .project-caption-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
#project .project-item .project-caption .project-caption-subheading {
  font-style: italic;
}

.project-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.project-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.project-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.project-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
}
.project-modal .modal-content p {
  margin-bottom: 2rem;
}
.project-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.project-modal .modal-content img {
  margin-bottom: 2rem;
}
.project-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.project-modal .close-modal:hover {
  opacity: 0.3;
}
/*End of Project*/
/* About section*/

.about {
  padding: 10px 0 0 0;
}

.about .icon-boxes h3 {
  font-size: 35px;
  font-weight: bold;
  color: #080808;
  margin-bottom: 15px;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #cc1c05;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #cc1c05;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #cc1c05;
  border-color: #cc1c05;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #cc1c05;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 16px;
}

/* end of About Section*/

/* home/ about-us 
================================= */
.about-us {
  margin: 30px 0;
}

.about-us-col {
  height: 325px;
  padding: 25px;
  text-align: center;
  background-color: #0076a3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMjgwODE0IiB5MT0iLTAuMTAyMjA4IiB4Mj0iMC43MTkxODYiIHkyPSIxLjEwMjIwOCI+PHN0b3Agb2Zmc2V0PSItMjUlIiBzdG9wLWNvbG9yPSIjMTE1YjliIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMxMjkwZjgiLz48c3RvcCBvZmZzZXQ9IjEyNSUiIHN0b3AtY29sb3I9IiMxMTViOWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  background-image: -webkit-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  background-image: linear-gradient(160deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  color: #fff;
}
.about-us-col .col-icon-wrapper {
  min-height: 80px;
}
.about-us-col .col-title {
  text-transform: uppercase;
}
.about-us-col .col-details {
  text-align: justify;
  margin-bottom: 25px;
  min-height: 80px;
}

/* home/reasons 
================================= */
.home-reasons {
  margin: 25px 0;
}

.reasons-col {
  position: relative;
  overflow: hidden;
}
.reasons-col img {
  width: 100%;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.reasons-col .reasons-titles {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  color: #fff;
  text-transform: uppercase;
  height: 125px;
  padding: 25px 0;
}
.reasons-col .reasons-title {
  font-weight: bold;
}
.reasons-col .on-hover {
  position: absolute;
  top: 0;
  bottom: 125px;
  width: 100%;
  padding: 25px;
  color: #fff;
  text-align: justify;
  background: linear-gradient(45deg, #0791c7, #f794a5);
  border-bottom: 1px solid #fff;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.reasons-col:hover .on-hover {
  visibility: visible;
  opacity: 1;
  padding: 50px;
  -moz-transition: all, 1s;
  -o-transition: all, 1s;
  -webkit-transition: all, 1s;
  transition: all, 1s;
}
.reasons-col:hover img {
  -moz-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
  -webkit-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
  transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
}

/*carousel section*/

/*Team Section*/
.teamu{
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.box {
  position: relative;
  width: 280px;
  height: 600px;
  margin: 20px 100px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
}

.box .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.box:hover .img-box {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}
.box .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .content {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 200px;
  width: 100%;
  height: 55%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.box .content h2 {
  margin: 0;
  padding: 0;
}
.box .content a {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px;
  display: inline-block;
}
.box .content h2,
.box .content p,
.box .content a {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}
.box:hover .content h2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.box:hover .content p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s;
}
.box:hover .content a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s;
}
/* End of Team Section*/
/* Blog Section */
.ribbon {
  width: 100px;
  height: 100px;
  margin: -10px auto;
  background:linear-gradient(45deg, #0791c7, #f794a5);
  position: absolute;
  top: 0;
  right: 0;
}
.ribbon:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  border-left: 75px solid #f0d803;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.ribbon:after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  border-right: 75px solid #f0d803;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.text {
  text-align: center;
}
.btn-color {
  background: #f0d803;
}

/*End of Blog Section*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 20px 40px;
  background: #f7e759;
  color: #131313;
  text-align: center;
  border: 1px solid #fff;
}

.contact .info i {
  font-size: 30px;
  color: #a31818;
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}
.rounded-cor {
  border-radius: 50px;
}
/*Footer*/
.social {
  display: flex;
  width: 250px;
  justify-content: space-between;
  list-style: none;
}
.social .list-item {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
}
.social .list-item:after,
.social .list-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
  opacity: 0;
  transition: 1s;
}
.social .list-item:after {
  filter: blur(20px);
}
.social .list-item:hover:before,
.social .list-item:hover:after {
  opacity: 1;
}
.social .list-item .list-link {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #000;
  font-size: 28px;
  border-radius: 50%;
  transition: 2s;
}
.social .list-item .list-link i {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.social .list-item:nth-child(1) a,
.social .list-item:nth-child(1):before,
.social .list-item:nth-child(1):after {
  background: linear-gradient(45deg, #00aeff, #a200ff);
}
.social .list-item:nth-child(2) a,
.social .list-item:nth-child(2):before,
.social .list-item:nth-child(2):after {
  background: linear-gradient(45deg, #00a2ff, #ff1e00);
}
.social .list-item:nth-child(3) a,
.social .list-item:nth-child(3):before,
.social .list-item:nth-child(3):after {
  background: linear-gradient(45deg, #ff008c, #ce6708);
}
.social .list-item:nth-child(4) a,
.social .list-item:nth-child(4):before,
.social .list-item:nth-child(4):after {
  background: linear-gradient(45deg, #0791c7, #f794a5);
}
